@media (max-width: 991px) {
	.promo{
		min-width: 1200px;
   }

   	.advantages{
		min-width: 1200px;
	   }
	.consultation{
		min-width: 1200px;
	}

	.carousel{
		min-width: 1200px;
	}
	}
@media (max-width: 575px) {
	.promo{
		min-width: 1200px;
   }

   .advantages{
	min-width: 1200px;
   }

   .consultation{
	min-width: 1200px;
	}
	
	.carousel{
		min-width: 1200px;
	}	
}